<form (submit)="onSubmit()">
  <div class="input-group">
    <p>
      <label for="initialInvestment">Initial investment</label>
      <input type="text" id="initialInvestment" [(ngModel)]="newInvestment" />
    </p>
    <p>
      <label for="annualInvestment">Annual investment</label>
      <input type="text" id="annualInvestment" />
    </p>
  </div>
  <div class="input-group">
    <p>
      <label for="expectedReturn">Expected return</label>
      <input type="text" id="expectedReturn" />
    </p>
    <p>
      <label for="duration">Duration</label>
      <input type="text" id="duration" />
    </p>
  </div>
  <button type="submit">Calculator</button>
</form>
